/* COMMON */
body {
    font-family: Inter-Regular,"system-ui",-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,"sans-serif";
    min-width: 320px;
    position: relative;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #031b4f;
}

.white-text {
    color: white;
}

.lightblue-text {
    color: #2485fd;
}

.grey-text {
    color: #5b6987;
}

.block-pad {
    padding: 30px 0;
}

.bg-grey {
    background-color: #f3f5f9;
}

.bg-blue-gradient {
    background: linear-gradient(to top left, #001e9a, #001e9a);
    color: white;
}
.bg-blue-gradient h1,
.bg-blue-gradient h2,
.bg-blue-gradient h3,
.bg-blue-gradient h4,
.bg-blue-gradient h5,
.bg-blue-gradient h6 {
    color: white;
}

.round {
    height: 8px;
    width: 8px;
    border: 1px solid #2485fd;
    border-radius: 50%;
    display: inline-block;
}

.full-round {
    background-color: #0069ff;
}

.sub-t {
    font-size: 18px;
    font-weight: 500;
}

/* Common Chevron */
.down-chevron {
    font-size: 9px;
    vertical-align: middle;
}

.right-chevron {
    font-size: 8px;
}

.left-chevron {
    font-size: 8px;
}

.custom-button {
    color: #2485fd;
    border-color: #2485fd;
    font-weight: 500;
}

/* HEADER */
.top-nav {
    padding: 10px 0;
}

.top-nav .logo img {
    height: auto;
    width: 150px;
}

.top-nav ul li {
    display: inline-block;
    vertical-align: middle;
    padding-top: 8px;
    padding-right: 10px;
}

.top-nav ul li a {
    color: #2485fd;
    font-size: 14px
}

/* Burger Menu */
.burger-menu {
    color: #2485fd;
    line-height: 35px;
}

/* Banner */
.banner {
    background-image: url("../img/ms-jumbo.jpg");
    padding-bottom: 20px ;
}

.banner-text {
    padding-top: 20px;
    max-width: 80%;
}

.banner .bg-white {
    background-color: white;
    margin: 30px 0;
    padding: 5px 30px;
}

.banner .bg-white p:last-child {
    color: #031b4f;
    padding: 10px 0;
}
#block-position {
    position: relative;
}

#google-logo-button img {
    height: 15px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 6px;
}

/* MAIN */
/* Software-list */
main .software-list {
    padding: 30px 0;
}

main .software-list ul li {
    display: inline-block;
    width: calc( ( 100% / 6 ) - 16px);
    padding-right: 10px;
    text-align: center;
}

main .software-list ul li img {
    width: 100%;
    height: auto;
}

 /* Specification */
 .specification {
    padding: 30px 0 ;
 }

 .specification-content {
    margin-top: 40px;
 }

 .specification-content .block-pad {
     padding: 10px 0;
 }

.specification .menu-left .menu-content {
    border-left: 1px solid;
    padding-left: 10px; 
    display: inline-block;
}

.specification .menu-left .menu-content li {
    padding: 10px 0;
}

/* Slide Section */
/* Slide section 1 chevron */
.slide-section .content-col .left-chevron,
.slide-section .content-col .right-chevron {
    line-height: 205px;
    font-size: 25px;
}
/* End Slide section 2 chevron */

/* Slide section 2 chevron */
.slide-section-two .content-col .left-chevron,
.slide-section-two .content-col .right-chevron {
    line-height: 215px;
    font-size: 25px;
}
/* End Slide section 2 chevron */

.slide-section .padding-col {
    padding: 0 15px;
}

.slide-content {
    padding-top: 30px;
    padding-bottom: 10px;
}

.slide-content ul {
    padding-left: 0;
}

.slide-section .content-box {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.slide-section .content-box p {
    padding-top: 20px;
}

.slide-section .content-box small {
    color: #031b4f;
    font-weight: 500;
}

/* Services Regions */
.services-regions .services-title h2 {
    color: white;
}

.services-regions .regions-list ul li{
    border-bottom: 1px solid white;
    padding-left: 10px;
    padding-top: 10px;
}

.services-regions .regions-list ul li span {
    width: calc( 100% / 5 );
}

.services-regions .regions-list ul li p {
    color: #fff;
    opacity: 0.6;
    width: calc( 100% / 2 ) ;
}

.services-regions .regions-list ul li a {
    width: calc( 100% / 4) ;
    color: #00d7d2;
}

.services-regions .regions-list ul li span,
.services-regions .regions-list ul li p,
.services-regions .regions-list ul li a {
    display: inline-block;
}

.get-started .custom-button {
    width: 160px;
    font-weight: 500;
}

/* FOOTER */
footer {
    background-color: #022262;
}

footer .social-footer li {
    display: inline-block;
}

.footer-text-left p {
    font-size: 12px;
    margin-bottom: 0;
}

footer .social-footer a {
    padding-right: 10px;
    font-size: 18px;
}

footer ul {
    padding-left: 0;
}

footer p,
footer a {
  color: #fff;
  opacity: 0.6;
}

footer #opacity-text {
    color: #fff;
    opacity: 0.4;
}

.footer-p-content {
    padding: 15px 0;
}

footer h1,
footer h2, 
footer h3, 
footer h4, 
footer h5 {
    color: white;
}

footer .lists-footer a{
    font-size: 16px;
    padding-top: 5px;
    display: block;
}

/* Fixed */
.fixed-image {
    width: 80px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1;
    
}

.fixed-chat {
    background: white;
    position: fixed;
    bottom: 5%;
    right: 15%;
    z-index: 1;
    border-radius: 5px;
    padding: 15px;
}

.fixed-image img {
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to top left, #001e9a, #001e9a);
}

.fixed-image .round {
    background-color: red;
    border: 4px solid white;
    color: white;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.fixed-chat::after{
    content: "";
    position: absolute;
    right: -8px;
    bottom: 12px;
    color: white;
    background: white;
    border: 1px solid white;
    border-radius: 20% 20% 20% 0;
    width: 20px;
    height: 20px;
    transform: rotate(230deg );
}

/* Media Query XS */
@media all and (max-width: 767px){
    /* MAIN */
    /* Software list */
    main .software-list ul li {
      width: calc( ( 100% / 2 ) - 16px);
    }

    main .software-list .software-exposure li img {
        width: 50%;
        height: auto;
    }
    
    /* Specification */
    .specification .specification-content .menu-left {
        text-align: left;
        margin-bottom: 20px;
    }

    .specification .specification-content .menu-right img {
        padding-top: 15px;
    }

    .required-features .required-features-content img {
       padding-top: 15px;
    }

    footer .lists-footer .menu-list {
        padding-top: 20px;
    }

    .fixed-image {
        bottom: 19%;
        left: 5%;
    }

    .fixed-chat {
        left: 5%;
    }
}

/* Media Query SM*/
@media all and (min-width: 768px) and (max-width: 991px) {
    /* Slide section 1 chevron */
    .slide-section .content-col .left-chevron,
    .slide-section .content-col .right-chevron {
        line-height: 205px;
        font-size: 25px;
    }
    /* End Slide section 2 chevron */

    /* Slide section 2 chevron */
    .slide-section-two .content-col .left-chevron,
    .slide-section-two .content-col .right-chevron {
        line-height: 215px;
        font-size: 25px;
    }
    /* End Slide section 2 chevron */

    .fixed-image {
        bottom: 15%;
        left: 5%;
        margin-bottom: 5px;
    }

    .fixed-chat {
        left: 5%;
        max-width: 40%;
    }

}